<div class="col-md-6" id="attackers">
    <div>
        <form name="attackerForm" method="post" action="/attacker_result">
            <a href="#" onclick="attackerForm.submit()"><img class="a-align" src="/images/R6Satk.png" alt="attackers" />RANDOM ATTACKERS</a>
            <div class="icon_container">
                <input type="checkbox" checked="checked" name='attackers[]' id="sledge" value="sledge"/>
                <label for="sledge"><img class="img-valign" src="/images/ops-icons/sledge.svg" alt="sledge" title="Sledge"/></label> 
                <input type="checkbox" checked="checked" name='attackers' id="thatcher" value="thatcher"/>
                <label for="thatcher"><img class="img-valign" src="/images/ops-icons/thatcher.svg" alt="thatcher" title="Thatcher"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="ash" value="ash"/>
                <label for="ash"><img class="img-valign" src="/images/ops-icons/ash.svg" alt="ash" title="Ash"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="thermite" value="thermite"/>
                <label for="thermite"><img class="img-valign" src="/images/ops-icons/thermite.svg" alt="thermite" title="Thermite"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="twitch" value="twitch"/>
                <label for="twitch"><img class="img-valign" src="/images/ops-icons/twitch.svg" alt="twitch" title="Twitch"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="montagne" value="montagne"/>
                <label for="montagne"><img class="img-valign" src="/images/ops-icons/montagne.svg" alt="montagne" title="Montagne"/></label> 
            </div>
            <div class="icon_container">
                <input type="checkbox" checked="checked" name='attackers[]' id="glaz" value="glaz"/>
                <label for="glaz"><img class="img-valign" src="/images/ops-icons/glaz.svg" alt="glaz" title="Glaz"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="fuze" value="fuze"/>
                <label for="fuze"><img class="img-valign" src="/images/ops-icons/fuze.svg" alt="fuze" title="Fuze"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="blitz" value="blitz"/>
                <label for="blitz"><img class="img-valign" src="/images/ops-icons/blitz.svg" alt="blitz" title="Blitz"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="iq" value="iq"/>
                <label for="iq"><img class="img-valign" src="/images/ops-icons/iq.svg" alt="iq" title="IQ"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="buck" value="buck"/>
                <label for="buck"><img class="img-valign" src="/images/ops-icons/buck.svg" alt="buck" title="Buck"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="blackbeard" value="blackbeard"/>
                <label for="blackbeard"><img class="img-valign" src="/images/ops-icons/blackbeard.svg" alt="blackbeard" title="Blackbeard"/></label> 
            </div>
            <div class="icon_container">
                <input type="checkbox" checked="checked" name='attackers[]' id="capitao" value="capitao"/>
                <label for="capitao"><img class="img-valign" src="/images/ops-icons/capitao.svg" alt="capitao" title="Capitao"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="hibana" value="hibana"/>
                <label for="hibana"><img class="img-valign" src="/images/ops-icons/hibana.svg" alt="hibana" title="Hibana"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="jackal" value="jackal"/>
                <label for="jackal"><img class="img-valign" src="/images/ops-icons/jackal.svg" alt="jackal" title="Jackal"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="ying" value="ying"/>
                <label for="ying"><img class="img-valign" src="/images/ops-icons/ying.svg" alt="ying" title="Ying"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="zofia" value="zofia"/>
                <label for="zofia"><img class="img-valign" src="/images/ops-icons/zofia.svg" alt="zofia" title="Zofia"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="dokkaebi" value="dokkaebi"/>
                <label for="dokkaebi"><img class="img-valign" src="/images/ops-icons/dokkaebi.svg" alt="dokkaebi" title="Dokkaebi"/></label> 
            </div>
            <div class="icon_container">
                <input type="checkbox" checked="checked" name='attackers[]' id="lion" value="lion"/>
                <label for="lion"><img class="img-valign" src="/images/ops-icons/lion.svg" alt="lion" title="Lion"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="finka" value="finka"/>
                <label for="finka"><img class="img-valign" src="/images/ops-icons/finka.svg" alt="finka" title="Finka"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="maverick" value="maverick"/>
                <label for="maverick"><img class="img-valign" src="/images/ops-icons/maverick.svg" alt="maverick" title="Maverick"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="nomad" value="nomad"/>
                <label for="nomad"><img class="img-valign" src="/images/ops-icons/nomad.svg" alt="nomad" title="Nomad"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="gridlock" value="gridlock"/>
                <label for="gridlock"><img class="img-valign" src="/images/ops-icons/gridlock.svg" alt="gridlock" title="Gridlock"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="nokk" value="nokk"/>
                <label for="nokk"><img class="img-valign" src= "/images/ops-icons/nokk.svg" alt="nokk" title="Nokk"/></label> 
            </div>
            <div class="icon_container">
                <input type="checkbox" checked="checked" name='attackers[]' id="amaru" value="amaru"/>
                <label for="amaru"><img class="img-valign" src="/images/ops-icons/amaru.svg" alt="amaru" title="Amaru"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="kali" value="kali"/>
                <label for="kali"><img class="img-valign" src="/images/ops-icons/kali.svg" alt="kali" title="Kali"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="iana" value="iana"/>
                <label for="iana"><img class="img-valign" src="/images/ops-icons/iana.svg" alt="iana" title="Iana"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="ace" value="ace"/>
                <label for="ace"><img class="img-valign" src="/images/ops-icons/ace.svg" alt="ace" title="Ace"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="zero" value="zero"/>
                <label for="zero"><img class="img-valign" src="/images/ops-icons/zero.svg" alt="zero" title="Zero"/></label> 
            </div>
        </form>
    </div>
</div>