<div class="col-md-6" id="attackers">
    <div>
        <form name="attackerForm" method="post" action="/attacker_result">
            <img class="img-valign" src="/images/R6Satk.png" alt="attackers" />
            <span onclick="attackerForm.submit()">ATTACKERS</span>
            <div>
                <input type="checkbox" checked="checked" name='attackers[]' id="sledge" value="sledge"/>
                <label for="sledge"><img class="img-valign" src="/images/ops-icons/sledge.png" alt="sledge"/></label> 
                <input type="checkbox" checked="checked" name='attackers' id="thatcher" value="thatcher"/>
                <label for="thatcher"><img class="img-valign" src="/images/ops-icons/thatcher.png" alt="thatcher"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="ash" value="ash"/>
                <label for="ash"><img class="img-valign" src="/images/ops-icons/ash.png" alt="ash"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="thermite" value="thermite"/>
                <label for="thermite"><img class="img-valign" src="/images/ops-icons/thermite.png" alt="thermite"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="twitch" value="twitch"/>
                <label for="twitch"><img class="img-valign" src="/images/ops-icons/twitch.png" alt="twitch"/></label> 
                <input type="checkbox" checked="checked" name='attackers[]' id="montagne" value="montagne"/>
                <label for="montagne"><img class="img-valign" src="/images/ops-icons/montagne.png" alt="montagne"/></label> 
            </div>
        </form>
    </div>
</div>