<div class="col-md-6" id="defenders">
    <div>
        <form name="defenderForm" method="post" action="/defender_result">
            <a href="#" onclick="defenderForm.submit()"><img class="a-align" src="/images/R6Satk.png" alt="defenders" />DEFENDERS</a>
            <div class="icon_container">
                <input type="checkbox" checked="checked" name='defenders[]' id="smoke" value="smoke"/>
                <label for="smoke"><img class="img-valign" src="/images/ops-icons/smoke.png" alt="smoke"/></label> 
                <input type="checkbox" checked="checked" name='defenders' id="mute" value="mute"/>
                <label for="mute"><img class="img-valign" src="/images/ops-icons/mute.png" alt="mute"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="castle" value="castle"/>
                <label for="castle"><img class="img-valign" src="/images/ops-icons/castle.png" alt="castle"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="pulse" value="pulse"/>
                <label for="pulse"><img class="img-valign" src="/images/ops-icons/pulse.png" alt="pulse"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="doc" value="doc"/>
                <label for="doc"><img class="img-valign" src="/images/ops-icons/doc.png" alt="doc"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="rook" value="rook"/>
                <label for="rook"><img class="img-valign" src="/images/ops-icons/rook.png" alt="rook"/></label> 
            </div>
            <div class="icon_container">
                <input type="checkbox" checked="checked" name='defenders[]' id="kapkan" value="kapkan"/>
                <label for="kapkan"><img class="img-valign" src="/images/ops-icons/kapkan.png" alt="kapkan"/></label> 
                <input type="checkbox" checked="checked" name='defenders' id="tachanka" value="tachanka"/>
                <label for="tachanka"><img class="img-valign" src="/images/ops-icons/tachanka.png" alt="tachanka"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="jager" value="jager"/>
                <label for="jager"><img class="img-valign" src="/images/ops-icons/jager.png" alt="jager"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="bandit" value="bandit"/>
                <label for="bandit"><img class="img-valign" src="/images/ops-icons/bandit.png" alt="bandit"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="frost" value="frost"/>
                <label for="frost"><img class="img-valign" src="/images/ops-icons/frost.png" alt="frost"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="valkyrie" value="valkyrie"/>
                <label for="valkyrie"><img class="img-valign" src="/images/ops-icons/valkyrie.png" alt="valkyrie"/></label> 
            </div>
        </form>
    </div>
</div>