<div class="col-md-6" id="defenders">
    <div>
        <form name="defenderForm" method="post" action="/defender_result">
            <a href="#" onclick="defenderForm.submit()"><img class="a-align" src="/images/R6Satk.png" alt="defenders" />DEFENDERS</a>
            <div>
                <input type="checkbox" checked="checked" name='defenders[]' id="smoke" value="smoke"/>
                <label for="smoke"><img class="img-valign" src="/images/ops-icons/smoke.png" alt="smoke"/></label> 
                <input type="checkbox" checked="checked" name='defenders' id="mute" value="mute"/>
                <label for="mute"><img class="img-valign" src="/images/ops-icons/mute.png" alt="mute"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="castle" value="castle"/>
                <label for="castle"><img class="img-valign" src="/images/ops-icons/castle.png" alt="castle"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="pulse" value="pulse"/>
                <label for="pulse"><img class="img-valign" src="/images/ops-icons/pulse.png" alt="pulse"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="doc" value="doc"/>
                <label for="doc"><img class="img-valign" src="/images/ops-icons/doc.png" alt="doc"/></label> 
                <input type="checkbox" checked="checked" name='defenders[]' id="rook" value="rook"/>
                <label for="rook"><img class="img-valign" src="/images/ops-icons/rook.png" alt="rook"/></label> 
            </div>
        </form>
    </div>
</div>