<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <%- include('partials/attackers') %>
        <%- include('partials/defenders') %>
    </div>
</div>

<%- include('partials/footer') %>