<%- include('partials/header') %>
    <input type="checkbox" name='attackers' id="sledge"/>
    <label for="sledge"><img class="img-valign" src="/images/ops-icons/sledge.png" alt="sledge"/></label> 
    <input type="checkbox" name='attackers' id="thatcher"/>
    <label for="thermite"><img class="img-valign" src="/images/ops-icons/thatcher.png" alt="thatcher"/></label> 
    <input type="checkbox" name='attackers' id="ash"/>
    <label for="ash"><img class="img-valign" src="/images/ops-icons/ash.png" alt="ash"/></label> 
    <input type="checkbox" name='attackers' id="thermite"/>
    <label for="ash"><img class="img-valign" src="/images/ops-icons/thermite.png" alt="thermite"/></label> 
<%- include('partials/footer') %>