body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#attackers{
    text-align: center;
}

#attackers span{
    color: white;
    font-size: 44px;
}

.icon_container img{
    height: 125px;
    width: 125px;
}

#attackers a{
    color:white;
    font-size: 44px;
    text-decoration: none;
}

#defenders{
    text-align: center;
}

#defenders a{
    color: white;
    font-size: 44px;
    text-decoration: none;
}

#attackers a:hover {
    color: #dbdbdb;
}

#defenders a:hover {
    color: #dbdbdb;
}

.a-align {
    vertical-align: middle;
    margin-bottom: .20em;
}

.img-valign {
    vertical-align: middle;
    margin-bottom: 1.5em;
}

input[type=checkbox] {
    display:none;
}

label {
    cursor: pointer;
    filter: brightness(50%);
}

input[type="checkbox"]:checked + label {
    filter: grayscale(0);
}

.op_info {
    color: white;
}

#go_home {
   text-align: center
}

#go_home a {
    color: #aaaaaa;
    font-size: 32px;
    text-decoration: none;
}

#op_pic {
    height: 100%;
    width: 100%;
}

.page-footer {
    min-width: 1550px;
    text-align: center;
    color: #dbdbdb;
}

.main {
    margin-top: 50px;
    min-width: 1550px;
}

.page-footer i{
    color: #aaaaaa;
}

.op_info {
    margin-top: 45px;
    padding-top: 20px;
}
.op_text {
    margin-left: 15px;
}

.info_container {
    padding-top: 75px;
}