body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container-fluid {
    max-width: 1700px;
    min-width: 900px;
}

#attackers{
    text-align: center;
}

#attackers span{
    color: white;
    font-size: 44px;
}

.icon_container img{
    height: 125px;
    width: 125px;
}

#attackers a{
    color:white;
    font-size: 44px;
    text-decoration: none;
}

#defenders{
    text-align: center;
}

#defenders a{
    color: white;
    font-size: 44px;
    text-decoration: none;
}

#attackers a:hover {
    color: #dbdbdb;
}

#defenders a:hover {
    color: #dbdbdb;
}

.a-align {
    vertical-align: middle;
    margin-bottom: .20em;
}

.img-valign {
    vertical-align: middle;
    margin-bottom: 1.5em;
}

input[type=checkbox] {
    display:none;
}

label {
    cursor: pointer;
    filter: brightness(50%);
}

input[type="checkbox"]:checked + label {
    filter: grayscale(0);
}

.op_info {
    color: white;
}

#go_home {
    color: white;
    font-size: 44px;
    text-decoration: none;
}

#go_home span {
    text-align: center;
}

#op_pic {
    height: 100%;
    width: 100%;
}