body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#attackers{
    text-align: center;
}

#attackers span{
    color: white;
    font-size: 44px;
}

#defenders{
    text-align: center;
}

#defenders span{
    color: white;
    font-size: 44px;
}

.img-valign {
    vertical-align: middle;
    margin-bottom: 1.5em;
}

input[type=checkbox] {
    display:none;
    }
     
input#thing1[type=checkbox] + label
{
    background-image: url("../images/ops-icons/thermite.png");
    background-repeat: no-repeat;
    border-color: white;
    border-style: solid;
    height: 200px;
    width: 200px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input#thing1[type=checkbox]:checked + label
{
    border-color: red;
    border-style: solid;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input#thing2[type=checkbox] + img
{
    border-color: white;
    border-style: solid;
}

input#thing2[type=checkbox]:checked + img
{
    border-color: red;
    border-style: solid;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
}

label {
    cursor: pointer;
    filter: grayscale(100%);
}

label:hover {
    filter: grayscale(0);
}
input[type="checkbox"]:checked + label {
    filter: grayscale(0);
}

.op_info {
    color: white;
}

#go_home {
    color: white;
    font-size: 44px;
    text-decoration: none;
}

#go_home span {
    text-align: center;
}

#op_pic {
    height: 100%;
    width: 100%;
}